body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a1a;
    overflow: hidden;
}

#escape {
    padding: 15px 30px;
    font-size: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px #990000;
    transition: 0.1s;
}
